<div class="lg:col-span-12 text-center">
    <h1 class="mb-4 text-4xl font-semibold text-gray-800 text-center mt-3">
      Welcome to ISBook!
    </h1>
    <p class="leading-snug text-gray-700 text-lg max-w-3xl mx-auto pb-6">"Unlimited knowledge, explore anytime, anywhere"</p>
  </div>
<div class="max-w-5xl mx-auto mt-4 lg:p-12 p-4 grid grid-cols-1 lg:grid-cols-12 gap-x-12 gap-y-4 relative z-20" style="background-image: url('<%= image_path('lib.png') %>'); background-size: cover; background-repeat: no-repeat; background-position: center; min-height: 100vh; border-radius: 16px;">
</div>
